<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">


  <!--<ion-button expand="full" fill="solid" color="primary">Full Button</ion-button>-->
  <!--<ion-button expand="full" fill="clear" color="secondary">Full Button</ion-button>-->


  <ion-button expand="full" [routerLink]="'/detalhe/' + idCurso.value">Detalhe do Curso com id digitado</ion-button>
  <ion-input #idCurso [placeholder]="'Digite o ID de um curso...'"></ion-input>
  <br>

  <ion-button expand="full" (click)="getOneData(dataTesteEdit.id)">Show in Console [GET]: {{ dataTesteEdit.id }}
  </ion-button>

  <ion-button expand="full" (click)="postAddData(dataTesteNew)">Add [POST]: {{ dataTesteNew.titulo }}</ion-button>

  <ion-button expand="full" (click)="putEditData(dataTesteEdit)">Editar [PUT]: {{ dataTesteEdit.id }} - {{
    dataTesteEdit.titulo }}
  </ion-button>

  <ion-button expand="full" (click)="deleteOneData(dataTesteEdit)">Deletar [DELETE]: {{ dataTesteEdit.id }} - {{
    dataTesteEdit.titulo }}
  </ion-button>

  <h3>Lista</h3>
  <ion-card *ngFor="let item of lista">
    <ion-img [src]="'assets/imgs/'+item.imagem" [routerLink]="'/detalhe/' + item.id"></ion-img>
    <p class="card-title" [routerLink]="'/detalhe/' + item.id">{{ item.id }} - {{ item.titulo }}</p>
    <p class="card-subtitle" [routerLink]="'/detalhe/' + item.id">{{ item.descricao }}</p>
    <ion-button expand="full" [routerLink]="'/detalhe/' + item.id">Mais</ion-button>
    <ion-button expand="full" color="secondary" (click)="comprar(item.id)">{{ item.valor_txt }}</ion-button>
  </ion-card>

</ion-content>
